<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agro Assist</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div>
        <div class="navbar">
            <img class="logo" src="/AgroAssist logo.png" width="200" height="100"></img>
            <nav>
                <ul class="nav-list">
                    <li class="nav-items"><a href="/">Home</a></li>
                    <li class="nav-items"><a href="/analytics">Analytics</a></li>
                    <li class="nav-items"><a href="/history">History</a></li>
                    <li class="nav-items"><a href="/predictions">Predictions</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="welcome">
                Welcome to Agro Assist!!<br></br>
                This is the platform where you can cultivate success.
            </div>
            <div class="home">
                <p class="wbtext">Today's weather</p>
                <!-- <%- include('partials/WeatherBox') %> Include WeatherBox component -->
            </div>
        </div>
    </div>
</body>
</html>
